# Environment
.env
venv/
env/
.venv/
.env.*

# JetBrains IDEs 
.idea/  

# VSCode
.vscode/

# Python
__pycache__/
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd


# Node 
node_modules/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini 

# testing data 
hadoop/initial-data/data/
hadoop/initial-data/extracted-data/
hadoop/initial-data/data.zip
hadoop/initial-data/light-data/
hadoop/initial-data/grouped-data/
hadoop/initial-data/split-data/